.output {
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
}
.output > .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1365px) {
  .output > .container {
    max-width: 90%;
  }
}
