.nav {
  width: 100%;
  min-height: 80px;
  padding: 20px 0;
  background: #212729;
}
.nav > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav > .container > .wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1365px) {
  .nav .container {
    max-width: 90%;
  }
}
