.nav {
  width: 100%;
  min-height: 80px;
  padding: 20px 0;
  background: #212729;
}
.nav > .container {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}
.nav > .container > .wrapper {
  display: flex;
  align-items: center;
}
@media (max-width: 1600px) {
  .nav .container {
    max-width: 90%;
  }
}

@media (max-width: 660px) {
  .nav > .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav > .container > .wrapper {
    display: flex;
    align-items: center;
    max-width: 200px;
  }
  .avatar{
    max-width: 30px;
  }
  .logout{
    /* max-width: 50px; */
  }
}
